.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

body {
	background-color: hsl(0, 0%, 8%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: inter, sans-serif;
}

.container {
	background-color: hsl(0, 0%, 12%);
	max-width: 400px;
	border-radius: 12px;
	padding: 18px 32px 32px 32px;
	margin: 16px;
	text-align: center;
}

.container .profile_picture {
	width: 75px;
	border-radius: 50%;
	margin: 6px 0 16px 0;
}

.container h1 {
	color: hsl(0, 0%, 100%);
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 6px;
}

.container .state {
	font-weight: 600;
	font-size: 0.75rem;
	color: hsl(75, 94%, 57%);
	margin-bottom: 24px;
}

.container .about {
	font-size: 0.75rem;
	color: hsl(0, 0%, 100%);
}

.container ul {
	margin-top: 20px;
}

.container ul li:not(:last-child) {
	margin-bottom: 12px;
}

.container ul li a {
	display: block;
	background-color: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 100%);
	border-radius: 8px;
	padding: 12px;
	font-size: 12px;
	font-weight: 700;
}

.container ul li a:hover {
	background-color: hsl(75, 94%, 57%);
	color: hsl(0, 0%, 8%);
}
